.bio {
  position: relative;
  background: linear-gradient(rgba(10, 0, 0, 0.5), rgba(7, 0, 0, 0.5)),
    url("../assets/images/image1_cropped.jpg") center/cover no-repeat;
  color: white;
  text-align: center;
  padding-bottom: 245px;
  padding-top: 245px;
}

.bio {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 20px;
}

.bio.no-padding {
  padding-bottom: 84px;
}

#services {
  margin-top: 0; /* Removes any top margin */
  padding-top: 0; /* Removes any top padding */
}

#services h2 {
  margin-top: 0; /* Removes the margin from the heading */
}

#About {
  grid-row: 1;
  grid-column: 13 / span 10;
  display: inline;
  background: linear-gradient(
    transparent 0%,
    transparent 30%,
    var(--secondary) 30%,
    var(--secondary) 80%,
    transparent 80%,
    transparent 100%
  );
  font-size: 500%;
  font-weight: bold;
  text-shadow: 5px 5px 0px black;
  font-family: "Rubik";
}

.bio-text {
  grid-column: 12 / span 12;
  background: var(--background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--text);
  text-align: center;
  grid-row: 3;
  font-size: 18px;
  font-family: "SUSE";
  width: 100%;
}

.read-more-button {
  color: blue;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

#Bio {
  grid-column: 12 / span 12;
  background-color: lightblue;
  padding: 10px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  grid-row: 2;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  font-family: "SUSE";
}

.card {
  width: 550px;
  background-color: var(--secondary);
  margin: 10px;
  transition: transform 0.5s ease, background-color 0.4s ease;
}

.card:hover {
  transform: translateY(-15px);
  background-color: var(--accent);
}

.card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.content {
  padding: 12px;
  background-color: var(--secondary);
}

.content h4 {
  font-size: 25px;
  margin-bottom: 10px;
}

.content p {
  font-size: 15px;
  margin-bottom: 15px;
}

.content a {
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--accent);
  color: var(--background);
}

.skills {
  list-style: none;
  width: 70%;
  margin: 60px auto;
  color: var(--text);
  background-color: var(--primary);
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skills-container {
  display: flex;
  justify-content: space-between;
  font-family: "SUSE";
}

.skills-list,
.other-skills {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 45%;
}

.other-skills {
  padding: 20px;
}

.other-skills li {
  padding: 4px;
  font-size: 18px;
}

.skills li {
  margin: 20px 0;
}

.bar {
  background: var(--primary);
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(135deg, var(--accent) 0%, var(--secondary) 100%);
}

.python,
.html,
.css,
.javascript,
.sql,
.react,
.express,
.mongodb {
  width: 0;
}

@keyframes python {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 87%;
  }
}

@keyframes css {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes javascript {
  from {
    width: 0;
  }
  to {
    width: 78%;
  }
}

@keyframes sql {
  from {
    width: 0;
  }
  to {
    width: 92%;
  }
}

@keyframes react {
  from {
    width: 0;
  }
  to {
    width: 78%;
  }
}

@keyframes express {
  from {
    width: 0;
  }
  to {
    width: 67%;
  }
}

@keyframes mongodb {
  from {
    width: 0;
  }
  to {
    width: 74%;
  }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
  #About {
    font-size: 2.5rem;
    grid-column: 4 / span 14;
  }

  .bio {
    margin-top: -55px;
    grid-template-columns: 1fr; /* Stack elements in a single column */
    padding-bottom: 100px; /* Adjust padding */
    padding-top: 100px; /* Adjust padding */
    background-position: -290px 130px;
  }

  .bio-text {
    font-size: 16px; /* Adjust font size for readability */
    padding: 10px; /* Adjust padding */
    grid-column: 11 / span 9;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 2.5);
    width: 80%;
  }

  .bio-text.expanded {
    width: 130%;
    grid-column: 3 / span 10;
  }

  .card-container {
    flex-direction: column; /* Stack cards vertically */
  }

  .card {
    width: 100%; /* Full width for smaller screens */
    margin: 0 0 10px 0; /* Adjust margins */
  }

  .skills-container {
    flex-direction: column; /* Stack skills sections vertically */
    width: 100%; /* Full width for smaller screens */
  }

  .skills-list,
  .other-skills {
    width: 100%; /* Full width for smaller screens */
  }

  .bar span {
    height: 15px; /* Adjust bar height */
  }
}

/* For tablets and smaller laptops (up to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  #About {
    font-size: 2.5rem;
    grid-column: 10 / span 16;
  }

  .bio {
    margin-top: 80px;
    padding-bottom: 120px; /* Adjust padding */
    padding-top: 120px; /* Adjust padding */
    font-size: 12px;
  }

  .bio-text {
    font-size: 16px; /* Adjust font size for readability */
    padding: 15px; /* Adjust padding */
    grid-column: 11 / span 14;
  }

  .card-container {
    flex-direction: column; /* Stack cards vertically */
  }

  .card {
    width: 100%; /* Full width for smaller screens */
    margin: 0 0 15px 0; /* Adjust margins */
  }

  .skills-container {
    flex-direction: column; /* Stack skills sections vertically */
    width: 100%; /* Full width for smaller screens */
  }

  .skills-list,
  .other-skills {
    width: 100%; /* Full width for smaller screens */
  }

  .bar span {
    height: 18px; /* Adjust bar height */
  }
}
