.modal {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.4s ease-in-out;
  z-index: 1000;
}

.modal.open {
  left: 0; /* Slides into view */
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 90vw;
  max-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: auto;
}

.modal-content img {
  width: 100%; /* The image will take the full width of the modal */
  max-height: 100%; /* The image will take the full height of the modal */
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
  border-bottom: 8px;
}

.close {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
