.whole {
  margin-top: 70px;
  margin-left: 15px;
  margin-right: 15px;
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
}

#portfolio h2 {
  width: 100%;
  text-align: center; /* Or center if you prefer */
  margin-bottom: 20px; /* Add spacing below the heading */
}

.portfolio-card-container {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.portfolio-card-container-backend {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.portfolio-card-container {
  -ms-overflow-style: none; /* IE and Edge */
}

.portfolio-card {
  position: relative;
  flex: 0 0 calc(33% - 20px); /* Adjusted for three cards per row */
  max-width: 32%;
  padding: 1px;
  box-sizing: border-box;
  background-color: var(--secondary);
  overflow: hidden; /* Ensure content does not overflow */
  transition: transform 0.5s ease, background-color 0.4s ease,
    border-radius 0.3s ease;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.portfolio-card:hover {
  background-color: var(--accent);
  border-radius: 10px;
  transform: scale(1.03);
}

.portfolio-card img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  display: block;
}

.portfolio-content {
  position: absolute;
  bottom: -100%; /* Initially hidden off-screen */
  width: 100%;
  padding: 12px;
  background-color: var(--secondary);
  transition: bottom 0.5s ease; /* Smooth transition */
}

.portfolio-card:hover .portfolio-content {
  bottom: 0; /* Move into view on hover */
}

.portfolio-card h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--background);
  text-align: right;
}

.portfolio-content p {
  font-size: 15px;
  margin-bottom: 15px;
  font-family: "SUSE";
}

.portfolio-content li {
  list-style-type: none;
}

.portfolio-content a {
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--accent);
  color: var(--background);
  margin-bottom: 10px;
  border-radius: 3px;
}

.button-container {
  display: flex;
  justify-content: center;
}

/* Base Button Styling */
.button {
  margin: 5px;
  padding: 12px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Ripple effect on button click */
.button::before {
  content: "";
  position: relative;
  left: 50%;
  top: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.4s ease-in-out;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
}

.button:active::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}

/* Button Variants (Primary and Secondary) */
.button-primary {
  background: linear-gradient(
    135deg,
    var(--background) 0%,
    var(--secondary) 100%
  );
  border: 1px solid var(--accent);
}

.button-secondary {
  background: linear-gradient(135deg, var(--secondary) 0%, var(--accent) 100%);
}

.button-link {
  background: transparent;
  color: var(--text);
  text-decoration: underline;
  box-shadow: none;
}

.button-link:hover {
  color: var(--background);
  text-decoration: none;
  background-color: var(--primary);
}

.button-link:active {
  color: var(--primary); /* Change color when clicked */
}

/* Additional effects for contrast */
.button-dark {
  background: linear-gradient(135deg, var(--accent) 0%, var(--secondary) 100%);
}

.button-dark:hover {
  background: linear-gradient(135deg, #314152 0%, #637283 100%);
}

/* Container with overflow */
.portfolio-card-container .portfolio-card-container-backend {
  overflow-x: auto; /* Horizontal scroll */
  white-space: nowrap; /* Prevent line breaks */
}

/* WebKit scrollbar styling */
.portfolio-card-container::-webkit-scrollbar,
.portfolio-card-container-backend::-webkit-scrollbar {
  height: 12px; /* Height of the scrollbar */
}

.portfolio-card-container::-webkit-scrollbar-track,
.portfolio-card-container-backend::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.portfolio-card-container::-webkit-scrollbar-thumb,
.portfolio-card-container-backend::-webkit-scrollbar-thumb {
  background: var(--secondary); /* Scrollbar color */
  border-radius: 10px; /* Round edges */
}

.portfolio-card-container::-webkit-scrollbar-thumb:hover,
.portfolio-card-container-backend::-webkit-scrollbar-thumb:hover {
  background: var(--accent); /* Scrollbar color on hover */
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .portfolio-card {
    flex: 0 0 50%; /* Show two cards per row on tablets */
    max-width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .whole {
    padding-top: 170px;
  }
  .portfolio-card {
    flex: 0 0 100%; /* This ensures one card takes the full width */
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .whole {
    padding-top: 155px;
  }

  .portfolio-card {
    flex: 0 0 calc(100% - 20px); /* 1 card per row */
  }

  .portfolio-card-container {
    gap: 15px; /* Reduce gap for smaller screens */
    padding: 15px; /* Reduce padding for smaller screens */
  }

  /* Ensure scrolling remains smooth on touch devices */
  .portfolio-card-container {
    scroll-snap-type: x mandatory;
  }

  .portfolio-card {
    scroll-snap-align: start;
  }
}
