* {
  --text: #040316;
  --background: #efece7;
  --primary: #cdcac6;
  --secondary: #6e7f91;
  --accent: #394c60;
}

.rubik-copy-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.suse-overall-font {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

h2 {
  display: flex;
  font-size: 30px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-family: "Rubik";
}

h3 {
  text-align: center;
  font-family: "Rubik";
}

h4 {
  margin: 5px;
  font-family: "Rubik";
}

body {
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}

@keyframes docs {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0%);
  }
}

.docs {
  animation: docs 1s infinite;
}
